*{
  font-family: 'Press Start 2P', cursive;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.user-grid{
  display: grid;
  grid-template-columns: 50% 50%;
}
.char-create-grid{
  display: grid;
  grid-template-columns: 50% 20%;
}

.backColor{
  background-color: black;
  height: 100vh;
  width: 100vw;
  color: white;
}
